*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin-top: 1%;
    width: 100%;
    height: 100%;
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap : 1.5vmin;
    justify-content: center;
    align-items: center;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #b0413e;
    cursor: pointer;
}

h1{
    font-size: 40px;
    color: rgba(6, 244, 236, 0.983);
}

#reset-btn, #new-btn, #set-name {
  margin-top: 2vh;
  padding: 0.9rem 1.8rem;
  font-size: 2.5vh;
  border: none;
  border-radius: 0.5rem;
  background-color: #191913;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease;
}

#reset-btn:active, #new-btn:active {
  transform: translateY(0.25rem);
}

.players{
    width: 100vw;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    color:hotpink;
}

#p-1{
    margin: 0 0 0 5vw;
    font-size: 2rem;
}

#p-2{
    margin: 0 5vw 0 0;
    font-size: 2rem;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container{
    height: 25vmin;
}

.hide{
    display: none;
}

#new-btn{
    margin-top: 2rem;
}

#player1, #player2{
    font-size:1.5rem;
    color: #00f;
}



input{
    width: 15vw;
}

#new-btn{
    margin-top: 8vh;
}